/* Custom styling rules */

/* Styling for blog-logo */
$blog-logo-background-color: #ffff99;

.blog-logo {
  background-color: $blog-logo-background-color;
}




/* Styling for ads section */
 $ad-background-color: #d8bfd8;

.ads {
  background-color: $ad-background-color;
}




/* Styling for blog title */
$blog-title-background-color: #3cb371;

.blog-title {
  background-color: $blog-title-background-color;
}




/* Styling for blog post */
$blog-post-background-color: #87ceeb;

.blog-post {
  background-color: $blog-post-background-color;
}




/* Styling for footer */
$footer-background-color: #87cefa;

.footer {
  background-color: $footer-background-color;
}

